<h1>Edit your watchlist stock </h1>

<%= form_for [@user, @watchlist] do |f| %>
    <% if @watchlist.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@watchlist.errors.count, "error") %> prohibited this watchlist from being saved:</h2>

            <ul>
                <% @watchlist.errors.full_messages.each do |message| %>
                    <li>
                        <%= message %>
                    </li>
                    <% end %>
            </ul>
        </div>
        <% end %>

            <div class="field">
                <%= f.label "Stock Name Or Ticker" %>
                    <%= f.text_field :name %>
            </div>

            <div class="field">
                <%= f.label "Description" %>
                    <%= f.text_area :description %>
            </div>

            <div class="actions">
                <%= f.submit %>
            </div>
            <% end %>