<%= form_tag search_stocks_path,  method: :get, id:'stock-form' %>
    <%= text_field_tag :stock, params[:stock_id], placeholder: 'Stock ticker symbol', id: "stock_name"%>
    <%= button_tag(type: 'button', id:"new_stock") do %>
    <%end%>


    <% if @stock %>>
        <strong>Symbol: </strong>
     <%= @stock.ticker %>
        <strong>Name: </strong>
    <%= @stock.name %>
         <strong>Price: </strong>
    <%= @stock.price %>

    <% if current_user.can_add_stock? @stock.ticker %>
        <%= link_to 'Add to my stocks', user_positions_path(user_id: current_user.id, stock_ticker: @stock.ticker, stock_id: @stock.id ? @stock.id : ''), method: :post%>
    <% else %>
     <h4> The stock cannot be tracked because you have already added <% if current_user.stock_already_owned? @stock.ticker %>this stock.<% end %></h4>
  <% end %>
  <% end %>